{%- assign cur_url = page.url | replace: '.html', '' -%}

<footer class="footer text-bg-dark mt-5 py-4 py-md-5 border-top border-black text-center">
	<div class="container">
		<h2 class="h3 title-accent mb-3">Let's get connected</h2>
		<div class="footer__social">
			<a href="mailto:{{ site.data.main.email }}" target="_blank" title="Email">
				<img src="/assets/img/icons/email.svg" alt="Email" class="filter-invert">
			</a>
			<a href="{{ site.data.main.linkedin }}" target="_blank" title="Linkedin">
				<img src="/assets/img/icons/linkedin.svg" alt="Linkedin" class="filter-invert">
			</a>
			<a href="{{ site.data.main.github }}" target="_blank" title="Github">
				<img src="/assets/img/icons/github.svg" alt="Github" class="filter-invert">
			</a>
			<a href="{{ site.data.main.instagram }}" target="_blank" title="Instagram">
				<img src="/assets/img/icons/instagram.svg" alt="Instagram" class="filter-invert">
			</a>
		</div>
	</div>
</footer>